#caja {
    width: 90px;
    height: 90px;
    background-color: gray;
    margin-bottom: 2em;
}

.fondo-1 {
    background-color: red !important;
}

.fondo-2 {
    background-color: blue !important;
}

.fondo-3 {
    background-color: green !important;
}